body {
  margin-top: 10% !important;
}
body .search-bar-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
body .search-bar-cont button {
  background-color: #ff006a;
  outline: none;
  border: none;
}
body .search-bar-cont button:hover {
  cursor: pointer;
}
body .search-bar-cont input {
  width: 45vw;
  height: 3vh;
}
body ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
body ul li {
  text-align: center;
  list-style: none;
}
body ul .artist-name::before {
  content: "Artist Name: ";
  font-weight: bold;
}
body ul .music-name::before {
  content: "Music Name: ";
  font-weight: bold;
}
body ul .album-name::before {
  content: "Album Name: ";
  font-weight: bold;
}